<!doctype html>
<html lang="en" ng-app>
    <head>
        <meta charset="utf-8">
        <title>My HTML File</title>
        <script src="js/lib/angular/angular.min.js"></script>
        <script src="js/underscore-min.js"></script>
        <script src="js/lib/todo.js"></script>
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        
    </head>
    <body>
 
        <div ng-controller="TodoCtrl">
            <h2>Total todos: {{getTotalTodos()}}</h2>
            <ul class="list-unstyled">
                <li ng-repeat="todo in todos">
                    <input type="checkbox" ng-model="todo.done">
                    <span class="done-{{todo.done}}">{{todo.text}}</span>
                </li>
            </ul>
            <form class="form-horizontal">
                <input type="text" ng-model="formTodoText" ng-model-instant>
                <button class="btn" ng-click="addTodo()"><i class="glyphicon  glyphicon-plus"></i> Add</button>
            </form>
            <br/>
            <button class="btn btn-lg" ng-click="clearCompleted()"><i class="glyphicon  glyphicon-trash"></i> ClearCompleted</button>
        </div>
            
    </body>
</html>